<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Project Baguel</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>main-jsp</servlet-name>
    <jsp-file>/main.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>main-jsp</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>login-jsp</servlet-name>
    <jsp-file>/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>login-jsp</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>find_id-jsp</servlet-name>
    <jsp-file>/find_id.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>find_id-jsp</servlet-name>
    <url-pattern>/find_id</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>find_pw-jsp</servlet-name>
    <jsp-file>/find_pw.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>find_pw-jsp</servlet-name>
    <url-pattern>/find_pw</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logout-jsp</servlet-name>
    <jsp-file>/logout.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout-jsp</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>login_ok-jsp</servlet-name>
    <jsp-file>/login_ok.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>login_ok-jsp</servlet-name>
    <url-pattern>/login_ok</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>register-jsp</servlet-name>
    <jsp-file>/register.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>register-jsp</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>register_ok-jsp</servlet-name>
    <jsp-file>/register_ok.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>register_ok-jsp</servlet-name>
    <url-pattern>/register_ok</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mypage-jsp</servlet-name>
    <jsp-file>/mypage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>mypage-jsp</servlet-name>
    <url-pattern>/mypage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modify-jsp</servlet-name>
    <jsp-file>/modify.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>modify-jsp</servlet-name>
    <url-pattern>/modify</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modify_ok-jsp</servlet-name>
    <jsp-file>/modify_ok.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>modify_ok-jsp</servlet-name>
    <url-pattern>/modify_ok</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>map-jsp</servlet-name>
    <jsp-file>/map.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>map-jsp</servlet-name>
    <url-pattern>/map</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>goodbye-jsp</servlet-name>
    <jsp-file>/goodbye.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>goodbye-jsp</servlet-name>
    <url-pattern>/goodbye</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>LoginCheck</filter-name>
    <filter-class>filter.LoginCheckFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginCheck</filter-name>
    <url-pattern>/map/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginCheck</filter-name>
    <url-pattern>/map.jsp/*</url-pattern>
  </filter-mapping>
</web-app>